body{

font-family:Arial;

background:linear-gradient(135deg,#e9f2ff,#ffffff);

text-align:center;

margin:0;

}

.top-bar{

position:absolute;

top:20px;

right:20px;

}

.lang-btn{

background:white;

border:1px solid #0d6efd;

color:#0d6efd;

padding:8px 14px;

border-radius:8px;

cursor:pointer;

margin-left:5px;

font-size:13px;

}

.container{

margin-top:80px;

}

h1{

color:#0d6efd;

margin-bottom:25px;

}

.controls{

margin-bottom:20px;

}

.input-box{

display:inline-flex;

align-items:center;

border-radius:12px;

padding:12px;

background:white;

box-shadow:0 5px 20px rgba(0,0,0,0.08);

}

.input-box i{

color:#0d6efd;

margin-right:8px;

}

input{

border:none;

outline:none;

font-size:15px;

}

button{

border:none;

padding:13px 22px;

border-radius:10px;

cursor:pointer;

margin:10px;

font-size:14px;

}

.btn-create{

background:linear-gradient(45deg,#0d6efd,#3a8bff);

color:white;

}

.btn-download{

background:#0d6efd;

color:white;

}

button:hover{

transform:translateY(-2px);

box-shadow:0 6px 20px rgba(0,0,0,0.2);

}

.card-container{

position:relative;

display:inline-block;

margin-top:25px;

}

.card-container img{

width:700px;

border-radius:15px;

box-shadow:0 20px 40px rgba(0,0,0,0.2);

}

#nameDisplay{

position:absolute;

bottom:70px;

right:70px;

font-size:20px;

font-family: 'Times New Roman', Times, serif;

color:white;

}
/* شاشة البداية */

#splash{

position:fixed;
top:0;
left:0;
width:100%;
height:100%;

background:linear-gradient(135deg,#e9f2ff,#ffffff);

display:flex;
justify-content:center;
align-items:center;

z-index:9999;

/* اختفاء بعد الانيميشن */
animation: fadeOut 1s ease 2.5s forwards;

}

.splash-content{

text-align:center;

}

.splash-logo{

width:150px;
margin-bottom:20px;

/* حركة */
animation: logoPop 1.2s ease;

}

.splash-text{

font-size:22px;
color:#0f5132;
font-weight:bold;

/* ظهور تدريجي */
animation: textFade 2s ease;

}


/* 🔥 الأنيميشن */

@keyframes logoPop{

0%{
transform:scale(0.5);
opacity:0;
}

100%{
transform:scale(1);
opacity:1;
}

}

@keyframes textFade{

0%{
opacity:0;
}

100%{
opacity:1;
}

}

@keyframes fadeOut{

to{
opacity:0;
visibility:hidden;
}

}

@media (max-width:768px){

.card-container img{
width:95%;
}

#nameDisplay{
font-size:22px;
bottom:50px;
}

}
